
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@*I don't understand what this first line does below*@
<form submit="/Add" method="post">
    <input name="firstName" />
    <input name="lastName" />
    <button type="submit">Add Student</button>
</form>